body {
    font-family: 'SuisseIntl', sans-serif !important;
    font-weight: 300;
}

/* --------------------------------First banner START-------------------------------- */

header .main-menu {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 3;
}

header .main-menu .mobile-header{
    display: none;
}

header .main-menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .main-menu nav li {
    padding: 30px 20px;
    list-style: none;
    color: white;
}

header .main-menu nav li a {
    color: white;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 10px;
    padding-bottom: 8px;
}

header .main-menu nav li i {
    display: none;
}

header .main-menu nav li:hover a {
    transition: 0s all ease;
    border-bottom: 2px solid white;
}

header .main-menu nav li.main-title {
    padding:25px;
    padding-left: 0 !important;
    margin-left: -2vw;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

header .main-menu nav li.main-title h1 {
    width: 9em;
    font-size: 16px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'SuisseIntl';
    line-height: 20px;
}

@media screen and (max-width: 1200px) {

    header .main-menu.mobile-active *,
    header .main-menu.mobile-active *::after,
    header .main-menu.mobile-active *::before {
        color: rgba(0, 0, 0, 0.733) !important;
        border-color: rgba(0, 0, 0, 0.733) !important;
    }

    header .main-menu nav{
        display: none;
    }

    header .main-menu.mobile-active nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f0ece1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 15vh;
    }

    header .main-menu.mobile-active nav li {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header .main-menu.mobile-active nav li i {
        display: block;
    }

    header .main-menu.mobile-active nav li a {
        font-weight: 300;
    }

    header .main-menu.mobile-active nav li.main-title{
        display: none;
    }

    header .main-menu .mobile-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: white;
        position: relative;
    }

    header .main-menu .mobile-header.fixed-header {
        position: fixed;
        top:0; 
        left:0;
        width: 100%; 
        background: #f0ece1;
        z-index:9999;
    }

    header .main-menu .mobile-header.fixed-header *,
    header .main-menu .mobile-header.fixed-header *::before,
    header .main-menu .mobile-header.fixed-header *::after {
        color:#000000a3;
        font-weight: 300;
        border-color: #000000a3 !important;
    }

    header .main-menu .mobile-header > div{
        width: 33%;
        font-weight: 200;
        font-family: 'SuisseIntl', sans-serif;
    }

    header .main-menu .mobile-header > div p {
        margin-bottom: 0 !important;
    }

    header .main-menu .mobile-header .logo {
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
    }

    header .main-menu .mobile-header .logo p {
        margin-bottom: 0 !important;
        font-weight: 300;
        letter-spacing: 2px;
    }

    header .main-menu .mobile-header .menu-toggler {
        padding: 0 10px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    header .main-menu .mobile-header .menu-toggler::before,
    header .main-menu .mobile-header .menu-toggler::after{
        content: "";
        display: block;
        height: 30px;
        width: 30px;
        border-bottom: 1px solid white;
        position: absolute;
        right: 10px;
        top: -4vh;
        transition: .3s all ease;
        z-index: 99;
    }

    header .main-menu .mobile-header .menu-toggler::after {
        top: -3vh;
    }

    header .main-menu .mobile-header .menu-toggler.active::before {
        transform: rotate(45deg);
        top: -3vh;
        right: 0;
    }

    header .main-menu .mobile-header .menu-toggler.active::after {
        transform: rotate(-45deg);
        top: -3vh;
        right: 20px;
    }

    header .main-menu .mobile-header .menu-toggler .icon{
        height: 50px;
        width: 50px;
        cursor: pointer;
        position: absolute;
        right: 1px;
        top: -25px;
    }
}

.home-banner-content {
    position: absolute;
    top: 42vh;
    left: 0;
    width: 100%;
}

.home-banner-content .slogan-main {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    font-size: 48px !important;
    word-spacing: 10vw;
    transition: 1.5s all ease;
}

.home-banner-content .slogan-main:hover {
    word-spacing: 4vw;
}

.home-banner-content .play-video {
    margin-top: 15vh;
}

.custom-border-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-border-btn:hover p {
    word-spacing: 5px;
    margin-right: 20px;
}

.custom-border-btn p {
    color: white;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 200;
    border-bottom: 1px solid white;
    line-height: 22px;
    word-spacing: 10vw;
    margin-right: 10vw;
    transition: 1.5s all ease;
}

@media screen and (max-width: 768px) {
    .home-banner-content .slogan-main {
        font-size: 35px !important;
    }
}

/* ---------------------------------First banner END---------------------------------- */

/* --------------------------------Second banner START-------------------------------- */

.products-slider-section {
    z-index: 0 !important;
}

.products-slider .product-category {
    padding-top:2vh;
}

.products-slider .product-name{
    color: #000000a3;
    font-family: "SuisseIntl", sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.products-slider .shop-btn {
    cursor: pointer;
}

.products-slider .shop-btn p {
    font-family: "SuisseIntl", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .products-slider .texture-bg{
        display: none !important;
    }

    .products-slider .shop-btn {
        margin-bottom: -20px;
    }
}

/* --------------------------------Second banner END-------------------------------- */

/* --------------------------------Third banner START------------------------------- */

.about-us .section-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.about-us .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 0;
}

.about-us .background .background-container {
    position: relative;
}

.about-us .background .background-container .trigger {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.about-us .background .background-container .trigger::before {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: white;
    transition: .4s all ease;
}

.about-us .background .background-container .trigger:hover::before{
    background: transparent;
    border: 1px solid white;
    height: 160px;
    width: 160px;
    margin-left: -75px;
    margin-top: -75px;
}

.about-us .background .background-container .trigger-1 {
    top: 16%;
    left: 49.6%;
}

.about-us .background .background-container .trigger-2 {
    top: 52%;
    left: 26.6%;
}

.about-us .background .background-container .trigger-3 {
    top: 52%;
    left: 73.7%;
}

.about-us .about-us-img {
    position: absolute;
    top: 10%;
    left:10%;
    opacity: 0;
    transition: .8s opacity ease;
}

.about-us .about-us-img.no-index {
    z-index:-2;
} 

.about-us .about-us-img.active{
    opacity: 1;
    z-index:2;
}

.about-us .about-us-img.img-1{
    top: 39%;
    left: 52%;
}

.about-us .about-us-img.img-2{
    top: 15%;
    left:15%;
}

.about-us .about-us-img.img-3{
    top: 10%;
    left: 45%;

}

.about-us .background img.section-bg {
    min-height: 100vh;
    min-width: 100vw;
    max-width: unset;
    vertical-align: top;
}

.about-us .main-content {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'SuisseIntl', sans-serif;
    transform: translate(50%,-50%);
}

.about-us .main-content .section-name {
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
}

.about-us .main-content .section-title h2 {
    font-size: 8vh;
    max-width: 800px;
    margin-bottom: 40px ;
    margin-top: 20px;
    font-family: "Trirong", Sans-serif;
}

@media screen and (max-width: 768px) {
    .about-us .main-content {
        min-width: 90%;
    }

    .about-us .main-content .section-title h2 {
        font-size: 50px;
    }

    .about-us .background .background-container .trigger-1 {
        top: 16.5%;
        left: 49.4%;
    }

    .about-us .background .background-container .trigger-2 {
        top: 72%;
        left: 41%;
    }

    .about-us .background .background-container .trigger-3 {
        top: 72%;
        left: 58.3%;
    }

    .about-us .about-us-img.img-1 {
        top: 67%;
        left: 4%;
        right: 4%;
    }

    .about-us .about-us-img.img-2 {
        top: 35%;
        left: 4%;
        right: 4%;
    }

    .about-us .about-us-img.img-3 {
        top: 20%;
        left: 4%;
        right: 4%;
    }

}

@media screen and (max-height: 700px) {
    .about-us .background .background-container {
        margin-top: -7vh;
    }
}

/* ---------------------------------Third banner END--------------------------------- */

/* --------------------------------Fourth banner START------------------------------- */

.nuestros-pilares .section-container {
    position: relative;
    overflow: hidden;
}

.nuestros-pilares .main-content {
    position: absolute;
    top: 12%;
    right: 50%;
    z-index: 0;
    color: white;
    font-family: 'SuisseIntl', sans-serif;
    transform: translate(50%,-50%);
    text-align: center;
}

.nuestros-pilares .main-content .section-name {
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}

.nuestros-pilares .main-content .section-title {
    transition: .8s all ease;
    opacity: 1;
}

.nuestros-pilares .main-content .section-title.no-show {
    transition: .8s all ease;
    position: absolute;
    min-width: 1000vw;
    text-align: center;
    opacity: 0;
}

.nuestros-pilares .main-content .section-title h2 {
    font-size: 8vh;
    margin: 80px 0 ;
    font-family: "Trirong", Sans-serif;
}

.nuestros-pilares .main-content .contents > div {
    position: absolute;
    opacity: 0;
    height: 0 !important;
    font-family: "Trirong", Sans-serif;
    font-size: 30px;
    transition: .8s opacity ease;
    /* overflow: hidden; */
}

.nuestros-pilares .main-content .section-title,
.nuestros-pilares .main-content .contents > div.active {
    position: relative;
    height: 150px !important;
}

.nuestros-pilares .main-content .contents > div.active {
    opacity: 1;
    margin: 40px 0;
}

.nuestros-pilares .main-content .contents > div > p,
.nuestros-pilares .main-content .contents > div .d-flex p:first-child {
    left: -30vw;
}

.nuestros-pilares .main-content .contents > div .d-flex p:last-child {
    right: -30vw;
}

.nuestros-pilares .main-content .contents > div.active > p,
.nuestros-pilares .main-content .contents > div.active .d-flex p:first-child {
    left: 0px;
}

.nuestros-pilares .main-content .contents > div.active .d-flex p:last-child {
    right: 0px;
}

.nuestros-pilares .main-content .contents > div .d-flex {
    display: flex;
    justify-content: space-between;
}

.nuestros-pilares .main-content .contents > div p {
    margin-bottom: 0 !important;
    text-align: start !important;
    transition: .8s all ease;
    position: relative;
}

.nuestros-pilares .main-content .contents > div#content_1 .d-flex p:first-child {
    margin-left: 5vw;
    margin-right: 5vw;
}

.nuestros-pilares .main-content .contents > div#content_1 p.third {
    margin-left:-5vw;
}

.nuestros-pilares .main-content .contents > div#content_1 p:last-child{
    text-align: end !important;
}

.nuestros-pilares .background-container{
    position: relative;
}

.nuestros-pilares .main-content .contents > div#content_2 .d-flex p:first-child{
    margin-left: -8vw;
}

.nuestros-pilares .main-content .contents > div#content_2 .d-flex p:last-child {
    margin-right: -10vw;
}

.nuestros-pilares .main-content .contents > div#content_2 p:last-child {
    margin-left: 14vw;
}

.nuestros-pilares .main-content .contents > div#content_3 {
    width: 900px;
    max-width: 80vw;
}

.nuestros-pilares .main-content .contents > div#content_3 .d-flex p:first-child {
    margin-left: -3vw;
}

.nuestros-pilares .main-content .contents > div#content_3 .d-flex p:last-child {
    margin-right: -3vw;
}

.nuestros-pilares .main-content .contents > div#content_3 p.third {
    text-align: center !important;
}

.nuestros-pilares .main-content .contents > div#content_3 .d-flex:last-child p:first-child {
    margin-left: 2vw;
}

.nuestros-pilares .main-content .contents > div#content_3 .d-flex:last-child p:last-child {
    margin-right: -10vw;
}

.nuestros-pilares .flotant-imgs {
    position: absolute;
    width: 100%;
    top: 18%;
    display: flex;
}

.nuestros-pilares .flotant-imgs .flotant-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    cursor: pointer;
    position: relative;
}

.nuestros-pilares .flotant-imgs .flotant-img .flotant {
    margin-bottom: 8vh;
    position: relative;
    z-index:1;
}
.nuestros-pilares .flotant-imgs .flotant-img .text {
    position: absolute;
    top: 30%;
    z-index: 0;
    opacity: 0;
    transition: .8s all ease;
}

.nuestros-pilares .flotant-imgs .flotant-img .text p {
    margin-bottom: 0;
    font-size: 68px;
    font-family: "Trirong", Sans-serif;
    color: white;
}

.nuestros-pilares .flotant-imgs .flotant-img .flotant img,
.nuestros-pilares .flotant-imgs .flotant-img .shadow {
    transition: .8s all ease;
}

.nuestros-pilares .flotant-imgs .flotant-img.img-2 .shadow {
    margin-bottom: -12vh;
}

.nuestros-pilares .flotant-imgs .flotant-img.img-3 .shadow .flotant {
    margin-bottom: 15vh;
}

.nuestros-pilares .flotant-imgs .flotant-img.img-3 .shadow {
    margin-bottom: -10vh;
}

.nuestros-pilares .flotant-imgs .flotant-img.active .text {
    opacity: 1;
}

.nuestros-pilares .flotant-imgs .flotant-img.active .flotant img,
.nuestros-pilares .flotant-imgs .flotant-img.initial .flotant img {
    opacity: 0;
    transform: translateY(-50%);
}

.nuestros-pilares .flotant-imgs .flotant-img.active .shadow,
.nuestros-pilares .flotant-imgs .flotant-img.initial .shadow {
    transform: scale(0.2);
}

.nuestros-pilares .slider-controls {
    display: none;
}

@media screen and (max-width: 1750px) {
    .nuestros-pilares .flotant-imgs .flotant-img.img-2 .shadow {
        margin-bottom: -10vh;
    }
    
    .nuestros-pilares .flotant-imgs .flotant-img.img-3 .shadow {
        margin-bottom: -8vh;
    }
}

@media screen and (max-width: 1700px) {
    .nuestros-pilares .flotant-imgs .flotant-img.img-2 .shadow {
        margin-bottom: -15%;
    }
    
    .nuestros-pilares .flotant-imgs .flotant-img.img-3 .shadow {
        margin-bottom: -12%;
    }
}


@media screen and (max-width: 1600px) {
    .nuestros-pilares .flotant-imgs .flotant-img.img-2 .shadow {
        margin-bottom: -70px;
    }
    
    .nuestros-pilares .flotant-imgs .flotant-img.img-3 .shadow {
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 1550px) {
    .nuestros-pilares .flotant-imgs .flotant-img.img-2 .shadow {
        margin-bottom: -11%;
    }
    
    .nuestros-pilares .flotant-imgs .flotant-img.img-3 .shadow {
        margin-bottom: -6%;
    }
}

@media screen and (max-width: 1450px) {
    .nuestros-pilares .flotant-imgs .flotant-img.img-2 .shadow {
        margin-bottom: -45px;
    }
    
    .nuestros-pilares .flotant-imgs .flotant-img.img-3 .shadow {
        margin-bottom: 0px
    }
}

@media screen and (max-width: 1200px) {

    .nuestros-pilares .main-content {
        top:18%;
    }

    .nuestros-pilares .main-content .section-title h2 {
        font-size: 60px;
    }

    .nuestros-pilares .main-content .section-name {
        display: none;
    }

    .nuestros-pilares .flotant-imgs {
        top:28%;
        transition: .8s all ease;
    }

    .nuestros-pilares .flotant-imgs .flotant-img {
        min-width: 100%;
    }

    .nuestros-pilares .flotant-imgs .flotant-img .flotant {
        margin-bottom: 0 !important;
    }

    .nuestros-pilares .main-content .contents {
        width: 100vw;
        padding: 0 20px;
    }

    .nuestros-pilares .main-content .contents > .content {
        width: 100%;
    }

    .nuestros-pilares .main-content .contents > .content p {
        margin: 0 !important;
    }

    .nuestros-pilares .main-content .contents > .content .d-flex {
        justify-content: center;
        flex-wrap: wrap;
    }

    .nuestros-pilares .main-content .contents > .content .d-flex p:first-child {
        margin-right: 10px !important;
    }

    .nuestros-pilares .slider-controls {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        top: 33%;
    }

    .nuestros-pilares .slider-controls > div {
        background: rgba(253, 229, 218, 0.842);
        padding: 15px 20px;
    }

    .nuestros-pilares .slider-controls > div i {
        position: relative;
        bottom: -3px;
    }

    .nuestros-pilares .slider-controls > div.left i {
        left: -4px;
    }

    .nuestros-pilares .slider-controls > div.right i {
        right: -4px;
    }

}

@media screen and (max-width: 1000px) {

    .nuestros-pilares .main-content {
        top: 10%;
    }
    
    .nuestros-pilares .main-content .section-title h2 {
        margin: 0;
        font-family: "Trirong", Sans-serif;
    }

    .nuestros-pilares .main-content .section-title, 
    .nuestros-pilares .main-content .contents > div.active {
        height: 40px !important;
    }

    .nuestros-pilares .main-content .contents > div {
        font-size: 25px !important;
    }

    .nuestros-pilares .flotant-imgs {
        top: 15%;
    }

}

@media screen and (max-width: 768px) {
    
    .nuestros-pilares .background-container .section-bg {
        min-height: 100vh;
        width: auto !important;
        max-width: 150%;
    }

    .nuestros-pilares .main-content .section-title h2 {
        font-size: 50px;
    }

    .nuestros-pilares .flotant-imgs {
        top: 22%;
    }

    .nuestros-pilares .flotant-imgs .flotant-img .flotant img {
        max-height: 40vh;
    }

    .nuestros-pilares .flotant-imgs .flotant-img .shadow img {
        max-height: 65px;
    }

    .nuestros-pilares .main-content .contents > .content .d-flex {
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 500px) {
    
    .nuestros-pilares .main-content .section-title h2 {
        font-size: 45px;
    }

    .nuestros-pilares .flotant-imgs {
        top: 25%;
    }

    .nuestros-pilares .flotant-imgs .flotant-img.img-3 .flotant img {
        max-height: 35vh;
        position: relative;
        bottom: -60px;
    }

    .nuestros-pilares .flotant-imgs .flotant-img .flotant

    .nuestros-pilares .flotant-imgs .flotant-img .shadow img {
        max-height: 65px;
    }

    .nuestros-pilares .slider-controls {
        top: 45%
    }

    .nuestros-pilares .main-content .contents > div {
        font-size: 22px !important;
    }

    .nuestros-pilares .main-content .contents > div#content_3 .d-flex:last-child p:first-child {
        margin-left: 30vw !important;
    }

    .nuestros-pilares .main-content .contents > div#content_2 .d-flex p:first-child {
        margin-left: 35vw !important;
    }

    .nuestros-pilares .main-content .contents > div#content_2 > p:last-child {
        margin-left: 27vw !important;
    }
    
}

@media screen and (max-width: 450px) {
    .nuestros-pilares .main-content .section-title h2 {
        font-size: 40px;
        padding:0 10px;
        position: relative;
        bottom: -15px;
    }

    .nuestros-pilares .flotant-imgs .flotant-img .flotant img {
        position: relative;
        bottom: -25px;
    }
}


